/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  border: 0;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

.qr-code {
  background-color: hsl(0, 0%, 100%);
  text-align: center;
  max-width: 20rem;
  padding: 1rem 1rem 2.5rem 1rem;
  box-shadow: 0 1.5625rem 1.5625rem rgba(0, 0, 0, 0.0476518);
  border-radius: 1.25rem;
}

.qr-code img {
  border-radius: 0.625rem;
  transition: transform 0.1s;
}

img:hover {
  transform: scale(1.05);
}

h1 {
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.75rem;
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}

p {
  color: hsl(220, 15%, 55%);
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.1875rem;
  letter-spacing: 0.01171875rem;
  padding: 0 1rem;
  margin-top: 0;
}
